In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
import matplotlib.pyplot as plt
import matplotlib.image as mpimg




# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/credito-eda-e-analise/describe_TipoDeColuna.png
/kaggle/input/credito-eda-e-analise/salario_anual.png
/kaggle/input/credito-eda-e-analise/sexo_m_f.png
/kaggle/input/credito-eda-e-analise/Grafico_sexo_M_F.png
/kaggle/input/credito-eda-e-analise/README.md
/kaggle/input/credito-eda-e-analise/limite_10.png
/kaggle/input/credito-eda-e-analise/tipo_cartao.png
/kaggle/input/credito-eda-e-analise/SQL_credito8.csv
/kaggle/input/credito-eda-e-analise/estado_civil.png
/kaggle/input/credito-eda-e-analise/escolaridade.png

# *Exploração e análise de dados de crédito com SQL*

# Dado:

A tabela foi criada no **AWS Athena** junto com o **S3 Bucket**, os dados estão disponível em 
https://github.com/Diegodc2737/Creditosql.git


Abaixo está os dados representam informações de clientes de um banco e contam com as seguintes colunas:

* idade = idade do cliente
* sexo = sexo do cliente (F ou M)
* dependentes = número de dependentes do cliente
* escolaridade = nível de escolaridade do clientes
* salario_anual = faixa salarial do cliente
* tipo_cartao = tipo de cartao do cliente
* qtd_produtos = quantidade de produtos comprados nos últimos 12 meses
* iteracoes_12m = quantidade de iterações/transacoes nos ultimos 12 meses
* meses_inativo_12m = quantidade de meses que o cliente ficou inativo
* limite_credito = limite de credito do cliente
* valor_transacoes_12m = valor das transações dos ultimos 12 meses
* qtd_transacoes_12m  = quantidade de transacoes dos ultimos 12 meses

## **Exploração de dados:**

**Obs:** A base de dados do link acima contém mais linhas do que a seleção utilizada. Você pode utilizar todas as linhas ou considerar apenas uma fração dos dados.

A exploração do banco de dado é a pirmeira fase, temos que análisar pra entender a matéria prima.
Vamos a exploração de dados:

**Qual a quantidade de informações temos na nossa base de dados?**

Query: SELECT count(*) FROM credito LIMIT 10 
>Reposta: 2564 linhas.
 
![limite dez](https://github.com/Diegodc2737/Creditosql/blob/main/limite_10.png?raw=true)




**Quais os tipos de cada dado**
Para entendermos mais sobre os tipos de dados de cada coluna:

**Query:** DESCRIBE credito

![Descrição dos tipos de dados](https://github.com/Diegodc2737/Creditosql/blob/00c040452cd43e5e63d2aae6c497952b44b81332/describe_TipoDeColuna.png?raw=true)





**Quais são os tipos de escolaridade disponíveis no dataset?**

**Query:** SELECT DISTINCT escolaridade FROM credito

![Tipos de escolaridade](https://github.com/Diegodc2737/Creditosql/blob/main/escolaridade.png?raw=true)

>Uma boa opção é dar uma olhada na escolaridade dos clientes, Os dados contam com vários níveis de escolaridade e é possível perceber que temos valores nulos (na) no dataset, trataremos isso mais tarde!






**Quais são os tipos estado_civil disponíveis no dataset?**

**Query:** SELECT DISTINCT estado_civil  FROM credito

![Olhando o estado_civil](https://github.com/Diegodc2737/Creditosql/blob/cb93a9ba74d055d316d8a895adc309d63fe8071f/estado_civil.png?raw=true)

> Novamente encontramos valores nulos nos dados.




**Quais são os tipos de salario_anual disponíveis no dataset?**

**Query:** SELECT DISTINCT salario_anual  FROM credito

![Tipos de salario anual](https://github.com/Diegodc2737/Creditosql/blob/main/base_salario_anual.png?raw=true)

> Os salários nesse dataset não estão expostas com o valor exato que o cliente ganha. O que está informado é a faixa salarial de cada um. Também contem dados nulos. 




**Se tratando de um Banco quais tipos de cartão disponíveis no dataset?**

**Query:** SELECT DISTINCT tipo_cartao  FROM credito

![Tipos de cartões](https://github.com/Diegodc2737/Creditosql/blob/main/tipo_cartao.png?raw=true)

## **Análise de dados**

**No dataset, quantos clientes são homens e quantos são mulheres?**
![Contagem do sexo M, F](https://github.com/Diegodc2737/Creditosql/blob/main/sexo_m_f.png?raw=true)

![grafico cliente M_F](https://github.com/Diegodc2737/Creditosql/blob/main/Grafico_sexo_M_F.png?raw=true)
>Podemos perceber pela análise que a maioria dos clientes desse banco é homem. Do csv que extraido dos dados
geramos um gráfico em pizza para um melhor visualização



**Podemos selecionar pela idade mínima e máxima dos clientes**

**Query:** SELECT MIN(idade) AS idade_minima, MAX(idade) AS idade_maxima, sexo FROM credito GROUP BY sexo
![idade minima e maxima dos clientes](https://github.com/Diegodc2737/Creditosql/blob/main/idade_minima_maxima.png?raw=true)



**Separando os clientes pelo tipo do cartão**

**Query:** SELECT count(*) AS clientes, tipo_cartao FROM credito GROUP BY tipo_cartao
![clientes pelo tipo do cartão](https://github.com/Diegodc2737/Creditosql/blob/main/clientes-por_tipocartao.png?raw=true)


**Qual o valor da transação mais baixo e alto**

**Query:** SELECT MIN(valor_transacoes_12m) AS transacoes_min, MAX(valor_transacoes_12m) AS transacoes_max FROM credito
![](https://github.com/Diegodc2737/Creditosql/blob/main/valor_transacao.png?raw=true)